# hidden files
.*
!.git*
!.nojekyll
!.editorconfig
!.ruby-version
!.versionrc.json
!.stylelintrc.json
!.commitlintrc.json

# bundler cache
_site
vendor
Gemfile.lock

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
